# Git
.git
.gitignore

# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Logs
logs/*
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Docker
.dockerignore
docker-compose.yml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Documentation
docs/

# Tests
tests/